@model List<Author>

@{
    int count = 0;
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Author Table</h4>
        <p class="card-description">
             <code><a asp-action="create"  class="btn btn-primary">Author Create</a></code>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Author Name</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Author author in Model)
                    {
                        count++;
                        <tr>



                            <td>@count</td>
                            <td>@author.Name</td>
                            <td>
                                <a asp-action="Update" asp-controller="Author" asp-route-id="@author.Id"  class="btn btn-warning">
                                    <i class="mdi mdi-auto-upload"></i>
                                </a>
                                <a asp-action="Delete" asp-controller="Author" asp-route-id="@author.Id" class="btn btn-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                               <a asp-action="Detail" asp-controller="Author"  asp-route-id="@author.Id" class="btn btn-primary">

                                  <i class="mdi mdi-content-copy"></i> 
                               </a>
                                

                            </td>


                            <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@*<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic form elements</h4>
        <p class="card-description">
            Basic form elements
        </p>
        <form class="forms-sample">
            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Gender</label>
                <select class="form-control" id="exampleSelectGender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>File upload</label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                    <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputCity1">City</label>
                <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
            </div>
            <div class="form-group">
                <label for="exampleTextarea1">Textarea</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>*@